.section {
    padding:0;
}

.resume-section {
    max-width: 75rem;
    min-height:100vh;
}

/*Navbar*/

#navbar {
    width: 17rem;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.navbar-end {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.navbar-item {
    font-weight: bold;
    color:rgb(73,80,87);
}

a.navbar-item:active{
    color:rgb(126, 52, 237);
}

#profile_pic {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1023px){

    .title, .subtitle, .description {
        padding-left:1rem!important;
        padding-right:1rem!important;
    }

    .main-title{
        line-height: 0.90;
        padding-bottom: 2rem;
    }

    #profile_pic{
        visibility:hidden;
        height: 0;
        min-height:0;
    }

    #to-top{
        position: absolute;
        bottom:1px;
        left:3rem;
        color:black;
        font-family: 'Alumni Sans', sans-serif;
        font-size:xx-large;

    }

    #navbar{
        height:3rem;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
    }

    .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu{
        overflow:unset;
        position: absolute;
        height: 15rem;
        width: 100%;
        margin-top: 2.5rem;
    }

}

@media screen and (min-width: 1024px){

    .navbar-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-brand{
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}

.menu-list a:hover  {
    background-color:unset;
    color:rgb(0,167,142);
}

.menu-list a.is-active {
    background-color:unset;
    color: rgb(126, 52, 237);
}

/*Main column*/
@media screen and (min-width: 1024px){
    .main-column{
        margin-left: 17rem;
    }
}

/*Title*/
.title {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 5.5rem;
    color: rgba(0, 0, 0, 0.8);
}

#surname, a[href^="mailto:"] {
    color: rgb(126, 52, 237);
}

a[href^="mailto:"]:hover {
    text-decoration: underline;
}

.subtitle{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.description{
    color: rgba(0, 0, 0, 0.5);
    font-size:1.1em;
    text-indent: 1em;
    text-align: left;
}

/*Icons*/
.social-icons a {
    display:inline-flex;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Project thumbnails*/
.container {
    min-width: 320px;
    max-width: 500px;
    max-height: 360px;
    width: 48%;
  }
@media screen and (max-width: 1023px){
    .container{
        font-size: 0.7rem;
        padding:0;
        margin-left: 1rem!important; 
    }

    .pl-mobile{
        margin-left:1rem!important;
    }
}
  
.thumbnail-img {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width:auto;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(126, 52, 237,0.8);
}

  
.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail-description{
    color:white;
    font-size: larger;
    padding: 2rem;
}

.title-thumbnail{
    background-color: rgb(231, 235, 240);
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Alumni Sans', sans-serif;
    font-size:xx-large;
    min-height: 1rem;
    width: 100%;
    margin: auto;
    top: auto;
    bottom: 0;
    height: 3.75rem;
    position:absolute;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1023px){
    .title-thumbnail{
        max-height: 2.5rem;
        padding-left: 1em;
        font-size:x-large;        
        }
    .thumbnail-description{
        padding:1rem;
    }    
}    
.icon-links{
    float:right;
    vertical-align: baseline;
    padding-right: 2rem;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.5)!important;
}

.icon-eye{
    color: rgba(0, 0, 0, 0.5);
}

.icon-eye:hover{
    color: rgb(0, 0, 0);
}

/*Dev Icons*/

.dev-icons{
    max-width: 100px;
    max-height: 100px;
    padding: 1rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}

.tooltip.bottom .tiptext{
    margin-left: -60px;
    top: 150%;
    left: 50%;
}
.tooltip.bottom .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}